Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.dpi: 107

XTerm*metaSendsEscape: true

XTerm*FaceName: Liberation Mono
XTerm*FaceSize: 10
XTerm*scrollBar: false
XTerm*foreground: gray88
XTerm*background: black
XTerm*geometry: 120x42+96+0

emacs*font: Liberation Mono-10
! For some reason, the following values must be "off"; setting them to
! "0" doesn't work, contrary to all documentation I've read.
Emacs*verticalScrollBars: off
emacs*toolBar: off
! Do not set *geometry for emacs; this will FUBAR various frames
emacs.geometry: 120x41+96+0


!! Linux Console colors
!black
*color0:  #000000
*color8:  #686868

!red
*color1:  #B21818
*color9:  #FF5454

!green
*color2:  #18B218
*color10: #54FF54

!yellow
*color3:  #B26818
*color11: #FFFF54

!blue
*color4:  #1818B2
*color12: #5454FF

!magenta
*color5:  #B218B2
*color13: #FF54FF

!cyan
*color6:  #18B2B2
*color14: #54FFFF

!white
*color7:  #B2B2B2
*color15: #FFFFFF
